# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# TensorFlow / Keras
# =========================
*.keras
*.pb
*.ckpt
saved_model/

# =========================
# Data files
# =========================


# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
