# Streamlit for the web app
streamlit==1.54.0

# Data handling
pandas==3.0.0
numpy==2.4.2

# Machine learning
scikit-learn==1.8.0
tensorflow==2.21.0

# Optional: for nicer logs and formatting
rich==14.3.2
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2
